{% assign now_year = "now" | date: "%Y" %}
{% assign post_year = post.date | date: "%Y" %}
{% assign post_time = post.date | date: " %-I:%M %p" %}
{% if now_year == post_year %}
  {% assign post_date = post.date | date: "%a, %b %-d," %}
{% else %}
  {% assign post_date = post.date | date: "%b %-d, %Y," %}
{% endif %}

<div class="post center">
    <div class="content">
        <div class="date">
            <a href="{{ post.url }}"><p><span class="postDate">{{ post_date }}</span><span class="postTime">{{ post_time }}</span</p></a>
        </div>
        <div class="chats">
          {% for chat in post.chats %}
            <div class="row">
                <div class="chat" id="chat-btn" >
                    <p>{{ chat.message }}</p>
                </div>
            </div>
          {% endfor %}
        </div>
    </div>
</div>
