<header>
    <div class="menu">
        <div class="left">
            <h1><a id="siteName" href="/">These Texts</a><span class="blinking-cursor">|</span></h1>
            <div class="typing">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <div class="right">
            <a id="about-btn" href="#">Information</a>
        </div>
    </div>
</header>
<section id="drawer">
    <div class="about-content">
        <p>{{ site.about_text }} </p>
    </div>
</section>
